<!DOCTYPE html>
<html ng-app="splatter-web">
	<head>
		<title>Basic Splatter Client</title>
		<script src="angular.min.js"></script>
		<script src="angular-resource.js"></script>
		<script src="app.js"></script>
	</head>
	<body>
		<div ng-controller="UserController as user">
			<p>Hello {{user.u.name}}, your email address is {{user.u.email}}</p>

<!--
			<div ng-repeat="splatt in user.feed">
				<p>
					{{splatt.body}}<br>
					<small>{{splatt.created_at | date: 'dd/MM/yyyy h:mma'}}</small>
				</p>
			</div>
-->
			
			<form name="myform"
				ng-controller="UpdateFormController as form"
				ng-submit="form.updateUser(user)">
				<input type="text" ng-model="form.data.name"/>
				<input type="submit" value="Update user" />
			</form>
		</div>

	</body>
</html>

